<h1>All Users</h1>
<h2>Current User</h2>

<p>Name: <%= @user.name %></p>
<p>ID: <%= @user.id %></p>
<p>Email: <%= @user.email%></p>
</br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<h2>All User</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Organization</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <% if user.organization.nil? %>
        <td></td>
      <% else %>
        <td><%= user.organization.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>

</br>
</br>

